#menu-bar ul {
       list-style-type: none;
       margin-bottom: 10px;
   }   
   .dropdown {
       display: none;
   }

   .dropdown ul {
       display: block;
   }

   #menu-bar ul li:hover .dropdown {
       display: block;
       justify-content: start;
       text-align: start;      
       
       
   }

   .sub-dropdown {
       display: block;
   }

   .sub-dropdown {
       display: none;
   }

   .dropdown ul li:hover .sub-dropdown {
       margin-left: 200px;
       justify-content: start;
       text-align: start;
       display: block;
       cursor: pointer;
       color: rgb(57, 57, 252);
      
   }
